<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sid.androidstudioprojects">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".option.Json.Json_Offline" android:label="@string/app_name" >
        </activity>
        <activity android:name=".option.Json.Json_Online" android:label="@string/app_name" >
        </activity>
        <activity android:label="@string/app_name" android:name=".option.login.Login">
        </activity>
        <activity android:label="@string/app_name" android:name=".option.login.Register">
        </activity>
        <activity android:label="@string/app_name" android:name=".option.login.Registered">
        </activity>
        <activity android:label="@string/app_name" android:name=".option.login.Main">
        </activity>
        <activity android:label="@string/app_name" android:name=".option.login.PasswordReset">
        </activity>
    </application>

</manifest>
